{
	debug
	http_port 80
	https_port 443
	admin off
    log {
        output stdout
        level debug
    }
}

html.local.test {
    tls /Users/adanchenkov/.ssh/html.local.test.crt /Users/adanchenkov/.ssh/html.local.test.key
	encode gzip
	file_server
}

